@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  height: 100%;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  position: absolute;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}

/* Обертка для хэдера и футера */

.wrapper {
  margin: 0 auto;
  width: 1060px;
}

/* Вступительные блоки секций */

.section-intro {
  margin: auto;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.section-text {
  color: #333333;
  margin: 0;
  text-align: center;
}

/* Кнопки */

.button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button:focus {
  border: 3px solid #83B3D3;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.button-small {
  font-size: 16px;
  line-height: 20px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.button-dark {
  background-color: #756157;
  color: #ffffff;
}

.button-dark:hover {
  background-color: #615048;
  color: #ffffff;
}

.button-dark:focus {
  background-color: #615048;
  border: none;
}

.button-dark:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-dark:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}

.button-light {
  background-color: #82b3d3;
  color: #ffffff;
}

.button-light:hover {
  background-color: #68A2CA;
  color: #ffffff;
}

.button-light:focus {
  background-color: #68A2CA;
  border: none;
}

.button-light:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-light:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}

.button-favourite {
  background-color: #7db54f;
  color: #ffffff;
}

.button-favourite:hover {
  background-color: #6C9E42;
  color: #ffffff;
}

.button-favourite:focus {
  background-color: #6C9E42;
  border: none;
}

.button-favourite:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button-favourite:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}

.page-container {
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #00000033;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  width: 1200px;
}

/* Навигация */

.navigation {
  display: flex;
  gap: 28px;
}

/* Логотип */

.navigation-logo {
  margin-bottom: -6px;
  min-width: 140px;
  z-index: 1;
}

.navigation-logo-image {
  display: block;
}

/* Навиация по сайту */

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  padding: 0 16px;
}

.navigation-link {
  display: block;
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 20px 0;
  position: relative;
  text-decoration: none;
}

.navigation-link[aria-current="page"]::after {
  border-bottom: 2px solid #756257;
  bottom: -1px;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* Пользовательское меню */

.navigation-user {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.navigation-user-link {
  display: block;
}

.navigation-user-link:not(.button) {
  min-height: 36px;
  min-width: 44px;
}

.navigation-user-link-search {
  background-image: url("../images/icons/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.navigation-user-link-favourites {
  background-image: url("../images/icons/likes.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.navigation-user-link-favourites-number {
  background-color: #7db54f;
  border-radius: 50%;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  padding: 5px 5px 5px 4px;
  position: absolute;
  right: 4px;
  top: -3px;
}

.navigation-user-link.button {
  margin-left: 20px;
  min-width: 160px;
}

/* Герой */

.hero {
  background-color: rgba(131, 179, 211, 0.3);
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  padding: 51px 0 82px;
  position: relative;
  text-align: center;
}

.hero::after {
  background-image: url(../images/hero-background-mask.svg);
  bottom: 0;
  content: "";
  height: 57px;
  left: 0;
  position: absolute;
  width: 1200px;
  z-index: 1;
}

.hero-image {
  vertical-align: middle;
}

/* Преимущества */

.advantages {
  padding-top: 69px;
}

.advantages-intro {
  margin-bottom: 90px;
  max-width: 700px;
}

.advantages-title {
  margin-bottom: 25px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  flex-grow: 1;
}

.advantages-item-lighter {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-darker {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-with-image {
  background-color: #82b3d3;
  display: flex;
}

.advantages-item-with-image-first img {
  order: -1;
}

.advantages-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 345px;
  padding: 20px 85px;
  text-align: center;
  width: 230px;
}

.advantages-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 62px;
  padding: 0 29px;
  position: relative;
  text-transform: uppercase;
}

.advantages-item h3::after {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  bottom: -30px;
  content: "";
  position: absolute;
  left: 85px;
  width: 60px;
}

.advantages-item p {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-item-with-image h3 {
  color: #ffffff;
}

.advantages-item-with-image h3::after {
  border-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-with-image p {
  color: #ffffff;
}

/* Услуги */

.services {
  padding-top: 64px;
}

.services-intro {
  margin-bottom: 64px;
  max-width: 510px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  min-height: 385px;
  padding: 20px 85px;
  text-align: center;
  width: 33%;
}

.services-item-darker {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item h3 {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 30px;
  text-transform: uppercase;
}

.services-item h3::before {
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 76px;
  width: auto;
  margin-bottom: 30px;
}

.services-item:nth-child(1) h3::before {
  background-image: url("../images/icons/house.svg");
}

.services-item:nth-child(2) h3::before {
  background-image: url("../images/icons/burger.svg");
}

.services-item:nth-child(3) h3::before {
  background-image: url("../images/icons/present.svg");
}

.services-item p {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

/* Поиск */

.search {
  padding: 96px 0;
  text-align: center;
}

.search-intro {
  margin-bottom: 54px;
  max-width: 600px;
}

.search-button {
  min-width: 376px;
}

/* Подписка */

.subscribe {
  padding: 96px 0 104px;
}

.subscribe-intro {
  margin-bottom: 54px;
  max-width: 500px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  max-width: 684px;
  margin: 0 auto;
}

.subscribe-form input {
  background-color: #f2f2f2;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  flex-grow: 1;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
}

.subscribe-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 232px;
}

.subscribe-special {
  background-color: rgba(131, 179, 211, 0.5);
  background-image: url("../images/subscribe-background.jpg");
  color: #ffffff;
}

.subscribe-special .section-text {
  color: #ffffff;
}

/* Футер */

.page-footer-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 45px 0 35px;
}

/* Социальные сети */

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-link {
  display: block;
  color: #83B3D3;
  height: 40px;
  position: relative;
  width: 47px;
}

.social-icon {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.social-link:hover .social-icon {
  fill: #68A2CA;
}

.social-link:focus .social-icon {
  fill: #68A2CA;
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

/* Контакты */

.contact-link {
  color: inherit;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
}

.contact-link:hover {
  color: #756157;
}

.contact-link:focus {
  color: #756157;
}

.contact-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.developer-link:hover {
  color: #756157;
}

.developer-link:focus {
  color: #756157;
}

.developer-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.developer-link {
 display: block;
 color: #000000;
}

/* Страница catalog.html */

.filters {
  background-color: rgba(131, 179, 211, 0.5);
  background-image: url("../images/filters-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  min-height: 342px;
  padding: 35px 70px 35px;
}

.main-inner-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 8px;
}

/* Хлебные крошки */

.breadcrumbs {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 40px;
  padding: 0;
}

.breadcrumbs-item:first-child {
  background-image: url("../images/icons/breadcrumbs-house.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 15px;
  width: 13px;
}

.breadcrumbs-item:not(:first-child) {
  margin-left: 28px;
  position: relative;
}

.breadcrumbs-item:not(:first-child):before {
  background-image: url("../images/icons/breadcrumbs-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  height: 15px;
  left: -19px;
  position: absolute;
  top: 4px;
  width: 9px;
}

.breadcrumbs-link {
  color: #ffffff;
  display: block;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

/* Фильтры */

.filters-form {
  display: flex;
  gap: 70px;
}

.filters-form-group {
  border: none;
  margin: 0;
  padding: 0;
}

.filters-form-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filters-form-item:not(:last-child) {
  margin-bottom: 16px;
}

.filters-form-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
}

.filters-form-group input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.filters-form-item label {
  font-size: 18px;
  line-height: 23px;
}

.filters-form-group-checkbox {
  min-width: 150px;
}

.filters-form-group-radio {
  min-width: 150px;
}

.filters-form-group-cost {
  margin-left: 70px;
  min-width: 288px;
}

.filters-form-group-cost input[type="number"] {
  box-sizing: border-box;
  padding: 12px 20px;
  width: 143px;
}

.filters-form-group-cost input[type="range"] {
  width: 100%;
}

.filters-form-group-buttons button {
  width: 191px;
}

.form-button-reset {
  color: #ffffff;
}

/* Каталог */

.catalog {
  padding: 0 70px;
}

.catalog-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 40px;
}

.catalog-title {
  margin: 0 auto 0 0;
}

.catalog-sort {
  background-color: #ffffff;
  color: #333333;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  margin-right: 70px;
  min-width: 292px;
  padding: 10px 20px;
}

.catalog-view-list {
  display: flex;
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-view-button {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
  height: 48px;
  width: 48px;
}

.catalog-view-button:hover {
  border-color: #000000;
}

.catalog-view-button:focus {
  border-color: #68A2CA;
}

.catalog-view-button:active {
  border-color: #000000;
}

.catalog-view-item:nth-child(1) .catalog-view-button {
  background-image: url("../images/icons/sort-1.svg");
}

.catalog-view-item:nth-child(2) .catalog-view-button {
  background-image: url("../images/icons/sort-2.svg");
}

.catalog-view-item:nth-child(3) .catalog-view-button {
  background-image: url("../images/icons/sort-3.svg");
}

.catalog-view-button-active {
  border-color: #000000;
}

.catalog-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0 0 80px;
  padding: 0;
}

.card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
  display: grid;
  gap: 16px 20px;
  grid-template-columns: repeat(2, 140px);
  padding: 20px;
}

.card-title {
  font-size: 24px;
  grid-column: 1 / -1;
  line-height: 28px;
  margin: 0;
}

.card-image {
  display: block;
  grid-column: 1 / -1;
  order: -1;
}

.card-type {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.card-price {
  justify-self: end;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.card-stars {
  align-self: center;
  background-image: url("../images/icons/star.svg");
  background-position-y: center;
  background-repeat: space;
  height: 18px;
}

.catalog-item:nth-child(1) .card-stars {
  width: 89px; /* calc(18px * 4 + 18) */
}

.catalog-item:nth-child(2) .card-stars {
  width: 89px; /* calc(18px * 4 + 18) */
}

.catalog-item:nth-child(3) .card-stars {
  width: 66px; /* calc(18px * 3 + 12) */
}

.catalog-item:nth-child(4) .card-stars {
  width: 42px; /* calc(18px * 2 + 6) */
}

.card-raiting {
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
}

/* Пагинация */

.pagination {
  display: flex;
  gap: 8px;
  list-style-type: none;
  margin: 0 0 60px;
  padding: 0;
}

.pagination-link {
  background-color: #82b3d3;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  line-height: 36px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  min-width: 60px;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link:not(.pagination-link-current):hover {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-link-current):focus {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-link-current):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item p{
  box-sizing: border-box;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  height: 60px;
  padding: 12px;
  text-align: center;
  width: 60px;
}
