@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  line-height: 26px;
  margin: 0;
}

.page-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 100%;
  width: 1200px;
}

.title-view {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.section-intro {
  color: #333333;
}

.button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.button-dark {
  background-color: #756157;
  color: #ffffff;
}

.button-light {
  background-color: #82b3d3;
  color: #ffffff;
}

.button-favourite {
  background-color: #7db54f;
  color: #ffffff;
}

.navigation {
  display: flex;
  padding: 0 70px;
}

.navigation-logo {
  margin-right: 30px;
}

.navigation-list {
  margin-right: auto;
}

.navigation-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.navigation-link {
  color: inherit;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.navigation-user-link:not(.button) {
  color: inherit;
  font-size: 20px;
  text-decoration: none;
}

.navigation-user-link-favourites {
  background-color: #7db54f;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
}

.hero {
  background-color: rgba(131, 179, 211, 0.3);
  background-image: url("../images/hero-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.advantages {
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages-item {
  flex-grow: 1;
}

.advantages-item-lighter {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-darker {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-with-image {
  background-color: #82b3d3;
  width: 100%;
}

.advantages-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item p {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-with-image h3 {
  color: #ffffff;
}

.advantages-item-with-image p {
  color: #ffffff;
}

.services {
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.services-item {
  flex-grow: 1;
  width: 33%;
}

.services-item-darker {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-item p {
  color: #333333;
}

.search {
  text-align: center;
}

.subscribe {
  text-align: center;
}

.subscribe-form input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-special {
  background-color: rgba(131, 179, 211, 0.5);
  background-image: url("../images/subscribe-background.jpg");
  color: #ffffff;
}

.subscribe-special .section-intro {
  color: #ffffff;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.social-list {
  text-align: center;
}

.social-link {
  color: inherit;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.contact-link {
  color: inherit;
  font-family: inherit;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
}

.main-inner-title {
  font-size: 60px;
  line-height: 78px;
}

.filters {
  background-color: rgba(131, 179, 211, 0.5);
  background-image: url("../images/filters-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.filters {
  padding: 0 70px;
}

.filters-form {
  display: flex;
  gap: 140px;
}

.filters-form-column-left {
  display: flex;
  gap: 70px;
}

.filters-form-column-right {
  display: flex;
  gap: 70px;
}

.filters-form-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.filters-form-item label {
  font-size: 18px;
  line-height: 23px;
}

.filters-form-group legend {
  font-size: 20px;
  line-height: 24px
}

.filters-form-group span {
  color: #000000;
  font-size: 18px;
  line-height: 23px;
}

.filters-form-group input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.form-button-reset {
  color: #ffffff;
}

.catalog {
  padding: 0 70px;
}

.catalog-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-title {
  margin-right: auto;
}

.catalog-sort {
  background-color: #ffffff;
  color: #333333;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  margin-right: 70px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 340px;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
}

.card-type {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.card-price {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.card-stars {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.card-raiting {
  background-color: #f2f2f2;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination {
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-item p{
  font-size: 22px;
  line-height: 26px;
}
